In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_df = school_data_complete.set_index("school_name")

In [3]:
school_group_df = school_df.groupby("school_name")

school_group_df.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130
Thomas High School,37537,Erik Snyder,M,9th,80,90,14,Charter,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9th,71,69,14,Charter,1635,1043130
Thomas High School,37539,Noah Erickson,M,9th,86,76,14,Charter,1635,1043130

In [4]:
Avg_math = school_group_df["math_score"].mean()
Avg_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [5]:
Avg_read = school_group_df["reading_score"].mean()
Avg_read

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [6]:
pass_math_df = school_data_complete.loc[school_data_complete["math_score"] >= 70, :]
math_group = pass_math_df.groupby("school_name")
math_percent =math_group["math_score"].count() / math_group["size"].unique() * 100
math_percent

school_name
Bailey High School       [66.68006430868168]
Cabrera High School       [94.1334768568353]
Figueroa High School     [65.98847066802306]
Ford High School          [68.3096020445418]
Griffin High School      [93.39237057220708]
Hernandez High School     [66.7529665587918]
Holden High School       [92.50585480093677]
Huang High School        [65.68392183750429]
Johnson High School       [66.0575509346776]
Pena High School          [94.5945945945946]
Rodriguez High School    [66.36659164791197]
Shelton High School       [93.8671209540034]
Thomas High School       [93.27217125382263]
Wilson High School        [93.8677179150241]
Wright High School       [93.33333333333333]
dtype: object

In [7]:
pass_read_df = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :]
read_group = pass_read_df.groupby("school_name")
read_percent = read_group["reading_score"].count() / read_group["size"].unique() * 100
read_percent

school_name
Bailey High School       [81.93327974276528]
Cabrera High School      [97.03982777179763]
Figueroa High School     [80.73923363852154]
Ford High School         [79.29901423877328]
Griffin High School      [97.13896457765668]
Hernandez High School    [80.86299892125135]
Holden High School       [96.25292740046838]
Huang High School        [81.31642098045938]
Johnson High School       [81.2224322621298]
Pena High School         [95.94594594594594]
Rodriguez High School    [80.22005501375344]
Shelton High School      [95.85462805224304]
Thomas High School       [97.30886850152906]
Wilson High School       [96.53964082347788]
Wright High School       [96.61111111111111]
dtype: object

In [8]:
overall_pass_df = school_data_complete.loc[((school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)) ,:]
overall_group = overall_pass_df.groupby("school_name")
overall_percent = overall_group["student_name"].count() / overall_group["size"].unique() * 100
overall_percent

school_name
Bailey High School        [54.64228295819936]
Cabrera High School       [91.33476856835307]
Figueroa High School      [53.20447609359105]
Ford High School         [54.289886820007304]
Griffin High School       [90.59945504087193]
Hernandez High School     [53.52750809061489]
Holden High School        [89.22716627634661]
Huang High School         [53.51388412752828]
Johnson High School       [53.53917244276413]
Pena High School          [90.54054054054053]
Rodriguez High School    [52.988247061765435]
Shelton High School       [89.89210675752413]
Thomas High School        [90.94801223241589]
Wilson High School        [90.58256679807272]
Wright High School        [90.33333333333333]
dtype: object

In [9]:
stats_df = pd.DataFrame({"Average Math Score": Avg_math, "Average Reading Score": Avg_read,"% Passing Math": math_percent,
                         "% Passing Reading": read_percent, "% Overall Passing": overall_percent})
stats_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,
Bailey High School,77.048432,81.033963,[66.68006430868168],[81.93327974276528],[54.64228295819936]
Cabrera High School,83.061895,83.975780,[94.1334768568353],[97.03982777179763],[91.33476856835307]
Figueroa High School,76.711767,81.158020,[65.98847066802306],[80.73923363852154],[53.20447609359105]
Ford High School,77.102592,80.746258,[68.3096020445418],[79.29901423877328],[54.289886820007304]
Griffin High School,83.351499,83.816757,[93.39237057220708],[97.13896457765668],[90.59945504087193]
Hernandez High School,77.289752,80.934412,[66.7529665587918],[80.86299892125135],[53.52750809061489]
Holden High School,83.803279,83.814988,[92.50585480093677],[96.25292740046838],[89.22716627634661]
Huang High School,76.629414,81.182722,[65.68392183750429],[81.31642098045938],[53.51388412752828]
Johnson High School,77.072464,80.966394,[66.0575509346776],[81.2224322621298],[53.53917244276413]
Pena High School,83.839917,84.044699,[94.5945945945946],[95.94594594594594],[90.54054054054053]
Rodriguez High School,76.842711,80.744686,[66.36659164791197],[80.22005501375344],[52.988247061765435]
Shelton High School,83.359455,83.725724,[93.8671209540034],[95.85462805224304],[89.89210675752413]
Thomas High School,83.418349,83.848930,[93.27217125382263],[97.30886850152906],[90.94801223241589]
Wilson High School,83.274201,83.989488,[93.8677179150241],[96.53964082347788],[90.58256679807272]
Wright High School,83.682222,83.955000,[93.33333333333333],[96.61111111111111],[90.33333333333333]

In [10]:
Per_student_budget = school_data["budget"] / school_data["size"]
Per_student_budget

0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
dtype: float64

In [11]:
school_data["Per Student Budget"] = Per_student_budget
school_data

,School ID,school_name,type,size,budget,Per Student Budget
0,0,Huang High School,District,2917,1910635,655.0
1,1,Figueroa High School,District,2949,1884411,639.0
2,2,Shelton High School,Charter,1761,1056600,600.0
3,3,Hernandez High School,District,4635,3022020,652.0
4,4,Griffin High School,Charter,1468,917500,625.0
5,5,Wilson High School,Charter,2283,1319574,578.0
6,6,Cabrera High School,Charter,1858,1081356,582.0
7,7,Bailey High School,District,4976,3124928,628.0
8,8,Holden High School,Charter,427,248087,581.0
9,9,Pena High School,Charter,962,585858,609.0
10,10,Wright High School,Charter,1800,1049400,583.0
11,11,Rodriguez High School,District,3999,2547363,637.0
12,12,Johnson High School,District,4761,3094650,650.0
13,13,Ford High School,District,2739,1763916,644.0
14,14,Thomas High School,Charter,1635,1043130,638.0

In [12]:
merge_df = pd.merge(school_data, stats_df, on = "school_name")
merge_df
merge_df.dtypes

School ID                  int64
school_name               object
type                      object
size                       int64
budget                     int64
Per Student Budget       float64
Average Math Score       float64
Average Reading Score    float64
% Passing Math            object
% Passing Reading         object
% Overall Passing         object
dtype: object

In [13]:
summary_table = merge_df.set_index("school_name")
del summary_table["School ID"]
summary_table.loc[:,"budget"] = summary_table["budget"].astype(float)
summary_table.loc[:,"% Passing Math"] = summary_table["% Passing Math"].astype(float)
summary_table.loc[:,"% Passing Reading"] = summary_table["% Passing Reading"].astype(float)
summary_table.loc[:,"% Overall Passing"] = summary_table["% Overall Passing"].astype(float)
#summary_table["budget"].map("${:.2f}").format
summary_table.dtypes

type                      object
size                       int64
budget                   float64
Per Student Budget       float64
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

In [18]:
summary_table.style.format({"budget": "${:,.0}",
                           "Per Student Budget": "${:.2f}"})
summary_table.sort_values("school_name")
summary_table

,type,size,budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012