In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [3]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
school_data_complete["Per Student Budget"] = school_data_complete["budget"] / school_data_complete["size"]
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Per Student Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0

In [6]:
bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "645-680"]
school_data_complete["Spending Ranges (Per Student)"] = pd.cut(school_data_complete["Per Student Budget"], bins, labels=group_names, include_lowest = True)
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Per Student Budget,Spending Ranges (Per Student)
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0,645-680
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0,645-680
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0,645-680
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0,645-680
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0,645-680

In [32]:
school_data_group = school_data_complete.groupby("Spending Ranges (Per Student)")
school_data_group.head()
students_per_bin = school_data_group["student_name"].count()
students_per_bin

Spending Ranges (Per Student)
<$585        6368
$585-630     9167
$630-645    11322
645-680     12313
Name: student_name, dtype: int64

In [10]:
Avg_math = school_data_group["math_score"].mean()
Avg_math

Spending Ranges (Per Student)
<$585       83.363065
$585-630    79.982873
$630-645    77.821056
645-680     77.049297
Name: math_score, dtype: float64

In [12]:
Avg_read = school_data_group["reading_score"].mean()
Avg_read

Spending Ranges (Per Student)
<$585       83.964039
$585-630    82.312643
$630-645    81.301007
645-680     81.005604
Name: reading_score, dtype: float64

In [35]:
#Calculate percent passing math
pass_math_df = school_data_complete.loc[school_data_complete["math_score"] >= 70, :]
math_group = pass_math_df.groupby("Spending Ranges (Per Student)")
math_percent = math_group["math_score"].count() /students_per_bin * 100
math_percent

Spending Ranges (Per Student)
<$585       93.702889
$585-630    79.109851
$630-645    70.623565
645-680     66.230813
dtype: float64

In [36]:
#calculate percent passing reading
pass_read_df = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :]
read_group = pass_read_df.groupby("Spending Ranges (Per Student)")
read_percent = read_group["reading_score"].count() / students_per_bin * 100
read_percent

Spending Ranges (Per Student)
<$585       96.686558
$585-630    88.513145
$630-645    82.600247
645-680     81.109397
dtype: float64

In [31]:
#calculate percent passing overall
overall = school_data_complete.loc[((school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)) ,:]
overall_group = overall.groupby("Spending Ranges (Per Student)")
overall_percent = overall_group["student_name"].count() / students_per_bin * 100
overall_percent

Spending Ranges (Per Student)
<$585       90.640704
$585-630    70.939239
$630-645    58.841194
645-680     53.528791
dtype: float64

In [38]:
summary = pd.DataFrame[[math_percent, read_percent, overall_percent]]

TypeError: 'type' object is not subscriptable